{% extends 'base.html.twig' %}

{% block title %}Hello QuizzController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Quizz de categorie {{ nameCategorie }}</h1>

    <form method="get">
    {% for questions in questionQuizz %}
    <p>{{questions.question}}</p>
    {% for reponses in reponsesQuizz %}
    <input type="checkbox" name="">
    <label>{{reponses.reponse}}</label>
    {% endfor %}
    {% endfor %}
    </form>

</div>
{% endblock %}
