{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .main{
        width:90%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
    }
    .bonjour{
        text-align : center;
        color:white;
    }
    .start{
        color:white;
    }
    .container{
        width : 100%;
        height:auto;
        

     
    }
    .container div{
        background:yellow;
        width:30%;
        height:40px;
        text-align:center;
        margin-left:auto;
        margin-right:auto;
        font-size:20px;
        margin-top:10px;
        padding-top:10px;
        border-radius:10px;
                
    }
    .container div a{
        text-decoration:none;
        transition:0.5s;
    }
    .container div a:hover{
        font-size:25px;
        color:#21993E;
    }
    .start{
        text-align:center;
        font-size:30px;
    }
    body{
        background-image: linear-gradient(to bottom, #5dafa1, #52a28c, #499578, #438763, #3e7a4e);
    }
</style>

<div class="example-wrapper">
    <h1 class="bonjour">Bonjour<br></h1>

    <h2 class="start">Commencez votre quizz</h2>



</div>

<div class="main">
{% for names in categorie %}
        <div class="container">
        <div><a href="/{{names.name}}/{{names.id}}">{{names.name}}</a></div>
        </div>
{% endfor %}
</div>
{% endblock %}
